# Insiders
# --------

git+https://${GH_TOKEN_MATERIAL_INSIDERS}@github.com/squidfunk/mkdocs-material-insiders.git@9.5.16-insiders-4.53.4#egg=mkdocs-material

# Development
# -----------------------
pre-commit>=3.6,<5

# Project requirements
# -----------------------
mkdocs-minify-plugin<1
mkdocs-git-revision-date-localized-plugin>=1,<2

CairoSVG>=2.5,<3
Pillow>=10
