# Insiders
# --------

git+https://${GH_TOKEN_MATERIAL_INSIDERS}@github.com/squidfunk/mkdocs-material-insiders.git@9.1.6-insiders-4.32.5#egg=mkdocs-material

# Development
# -----------------------
pre-commit>=3,<3.4

# Project requirements
# -----------------------
mkdocs-minify-plugin<0.7
mkdocs-git-revision-date-localized-plugin>=1,<1.3

CairoSVG>=2.5,<3
Pillow>=9.4,<10.1
